<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ detail_object.name }}</h1>
            <p>{{ detail_object.description }}</p>
            <h2>Tasks
            </h2>
            <ul>
                <li><a href="{% url 'create_task' %}">Create a new task</a></li>
            </ul>
            {% if detail_object.tasks.all %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for item in detail_object.tasks.all %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.assignee }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.task|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>
                This project has no tasks
            </p>
            {% endif %}
        </div>
    </main>
</body>
</html>
