<!DOCTYPE html>
<html>

<head>
    <title>Tracker</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                 {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>
                My Projects
            </h1>
            <ul>
                <li> <a href="{% url 'create_project' %}">Create a new project</a></li>
                <ul>
            {% if project_list %}
            <table>
                <tr>
                    <th>
                        "Name"
                    </th>
                    <th>
                        "Number of tasks"
                    </th>
                </tr>
                {% for project in project_list %}
                <tr>
                    <td>
                        {{ project.name }}
                        <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                        {{project.tasks.count }}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>
                You are not assigned to any projects
            </p>
            {% endif %}
        </div>
    </main>
</body>
</html>
